img {
	width: 100%;
	display: inline-block;
}
.sidebar {
    width: 300px;
    height: 100%;
    display: inline-block;
}
div {
    display: inline-block;
    vertical-align: top;
}

ul{
	list-style-type: none;

}

#selections {
	display: inline-flex;
}

.tab {
	margin: 10px;
}